/*#region Default styles*/
.container {
  display: flex;
  border: 8px solid rebeccapurple;
  box-sizing: border-box;
  height: 100vh;
  flex-direction: column;
}
header {
  height: 20vh;
  background-color: antiquewhite;
}
main {
  display: flex;
  flex: 1;
}
aside {
  flex: 1;
  background-color: aquamarine;
}
.content {
  flex: 5;
  background-color: cadetblue;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer {
  height: 5vh;
}
